.nav-bg {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.nav-bg-scroll {
    backdrop-filter: blur(8px);
    transition: all .5s ease;
    background-color: #F3F4F7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav img {
    height: 80px;
    cursor: pointer;
    transform: translateY(20px);
    transition: all .2s ease-in-out;
    z-index: 101;
}

.nav-bg-scroll nav img {
    height: 50px;
    transform: translateY(0px);
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    list-style-type: none;
    margin: 1rem 0;
    margin-left: auto;

}


nav .nav-links li {
    color: #313131;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

nav .nav-links li:hover {
    color: #153065;
}

nav .btn-purple {
    display: inline-flex;
    align-items: center;
    padding: 12px 32px;
}

@media (max-width: 1280px) {
    nav.container {
        padding: 0 1rem !important;
    }
}

@media (max-width: 1026px) {
    nav.container {
        padding: 0 2.5rem !important;
    }

    .nav-bg-scroll nav img {
        height: 50px !important;
    }
}

@media (max-width: 1026px) {
    nav {
        padding: 1rem 0;
    }

    .nav-bg {
        background-color: #F3F4F7;
    }

    nav img {
        margin: 0.5rem 0;
        transform: translateY(0);
    }

    nav .nav-links {
        position: fixed;
        left: 0;
        top: 6.5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        justify-content: flex-start !important;
        padding: 1rem 0em 3rem 0em;
        padding-bottom: 2rem;
        margin-left: 0;
        margin-top: 0;
        gap: 1.25em;
        height: fit-content;
        background-color: #F3F4F7;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
    }

    .nav-bg nav .nav-links {
        top: calc(50px + 0.5rem);
        transition: all .2s ease-in-out;
    }

    .nav-bg.nav-bg-scroll nav .nav-links {
        top: calc(50px + 0.5rem);
    }

    nav .nav-links li {
        color: #171717;
    }

    nav .nav-links .btn-purple {
        display: inline-flex !important;
        margin-top: 0 !important;
    }

    nav .burger,
    nav .close {
        display: block !important;
        cursor: pointer;
    }

    nav .btn-primary {
        display: none !important;
    }

    nav .burger div {
        width: 25px;
        height: 3px;
        background-color: #171717;
        margin: 5px;
        border-radius: 4px;
        transition: all 0.3s;
    }

    nav .close {
        margin-top: -.5rem;
    }

    nav .close .line1 {
        width: 25px;
        height: 3px;
        background-color: #171717;
        margin: 5px;
        border-radius: 4px;
        transition: all 0.3s;
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    nav .close .line2 {
        width: 25px;
        height: 3px;
        background-color: #171717;
        margin: 5px;
        border-radius: 4px;
        transition: all 0.3s;
        transform: rotate(45deg);
    }
}

@media (max-width: 425px) {
    nav img {
        height: 40px !important;
        transform: translateY(0px);
    }
}